@media screen and (max-width:1024px) {
    #search1 {
        display: block;
    }

    #search2 {
        display: none;
    }
}

@media screen and (max-width:768px) {
    header .nav-item {
        width: 23%;
    }

    #first {
        display: none;
    }

    #website main {
        flex-direction: column;
    }

    #website main main {
        width: 100%;
    }

    #asides {
        width: 100%;
    }

    #second {
        height: 15vh;
        margin: 0;
    }
}